# ── Auth ──
AUTH_LOGIN=dispatcher
AUTH_PASSWORD=Ktz2026!

# ── JWT ──
JWT_KEY=KTZ-Locomotive-Dashboard-Secret-Key-2024-Hackathon!
JWT_ISSUER=KTZ-Dashboard
JWT_AUDIENCE=KTZ-Dashboard-Client
JWT_EXPIRE_MINUTES=480
